!
version {{ config_context.get('version', '12.4') }}
service timestamps debug datetime msec
service timestamps log datetime msec
{% if config_context.get('password_encryption') == false %}
no service password-encryption
{% endif %}
!
{% include './ios/hostname.j2' %}
!
boot-start-marker
boot-end-marker
!
{% if config_context.get('enable_secret') %}
enable secret {{ config_context.get('enable_secret') }}
{% endif %}
{% if config_context.get('enable_password') %}
enable password {{ config_context.get('enable_password') }}
{% endif %}
!
{% if config_context.get('aaa_new_model') == false %}
no aaa new-model
{% else %}
aaa new-model
{% endif %}
{% if config_context.get('memory_size') %}
memory-size iomem {{ config_context.get('memory_size') }}
{% endif %}
{% if config_context.get('ip_routing') == false %}
no ip routing
{% endif %}
{% if config_context.get('ip_cef') == false %}
no ip cef
{% endif %}
!
{% if config_context.get('domain_name') %}
ip domain name {{ config_context.get('domain_name') }}
{% endif %}
!
multilink bundle-name authenticated
!
{% include './ios/local_user.j2' %}
archive
 log config
  logging enable
  hidekeys
!
ip ssh version {{ config_context.get('ssh_version', '2') }}
!
{% include './ios/interfaces.j2' %}
{% if config_context.get('default_gateway') %}
ip default-gateway {{ config_context.get('default_gateway') }}
{% endif %}
ip forward-protocol nd
!
{% if config_context.get('http_server') == true %}
ip http server
{% endif %}
{% if config_context.get('http_secure_server') == false %}
no ip http secure-server
{% endif %}
!
{% include './ios/snmp.j2' %}
!
control-plane
!
{% include './ios/console_vty.j2' %}
end