!
!
version 17.1
service timestamps debug datetime msec
service timestamps log datetime msec
! Call-home is enabled by Smart-Licensing.
service call-home
platform qfp utilization monitor load 80
platform punt-keepalive disable-kernel-core
platform console serial
!
{% include './jinja2/ios/hostname.j2' %}
!
boot-start-marker
boot-end-marker
!
!

end
